@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
:root {
    --persian-font: IRANSans;
    --english-font: 'Poppins', sans-serif;
    --english-font-weight: 500;
    --persian-font-weight: 600;

    --primary-color: #6205ED;
    --primary-hover: #8505CA;
    --white-color: #FFF;
    --yellow-color: #ffff00;
    --yellow-hover: #cfcf05;
    --green-color: #12cf51;
    --green-hover: #0e9e3e;
    --blue-color: #4dcafc;
    --blue-hover: #1eace4;
}
@font-face {
    font-family: IRANSans;
    src: url(IRANSans.ttf);
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
::selection {
    background-color: var(--primary-color);
    color: #FFF
}
img {
    user-select: none;
}
body, button {
    font-family: var(--persian-font);
    font-weight: var(--persian-font-weight);
}
body {
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.btn {
    background-color: var(--primary-color);
    color: var(--white-color);
    border-radius: 3px;
    width: 150px;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    outline: none;
    transition: .5s;
    cursor: pointer;
}
.btn:hover {
    background-color: var(--primary-hover);
}
.question-box {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 1.7rem;
    width: 350px;
    height: 390px;
    position: relative;
    transition: 1s;
}
header .timer {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90px;
    height: 45px;
    background: #29343a;
    color: var(--white-color);
    border-radius: 5px;
    padding: 0 8px;
    user-select: none;
}
header .timer .time-text {
    font-weight: 400;
    font-size: 25px;
}
header .timer .timer-sec {
    font-family: var(--english-font);
    font-size: 18px;
    font-weight: 500;
    background: var(--primary-color);
    color: var(--white-color);
    width: 45px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 5px;
}
.question-box section {
    padding-top: 2.5rem;
}
section .word {
    font-family: var(--english-font);
    font-weight: var(--english-font-weight);
    font-size: 30px;
    color: var(--primary-color);
    text-align: center;
}
.question-content {
    padding-top: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
}
.flashcard {
    background-color: var(--white-color);
    border-radius: 5px;
    padding: 1.7rem;
    width: 350px;
    height: 620px;
    position: relative;
    display: none;
}
.flashcard-word {
    font-family: var(--english-font);
    font-weight: var(--english-font-weight);
    text-align: center;
    font-size: 30px;
}
.swiper {
    width: 100%;
    height: auto;
}
.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .5s;
}
.swiper-slide img {
    width: 170px;
    height: auto;
}
.swiper-button-prev::after {
    content: '';
    color: var(--primary-color);
}
.swiper-button-next::after {
    content: '';
    color: var(--primary-color);
}
.swiper-pagination-bullet::after {
    content: '';
    color: var(--primary-color);
}
.flashcard-details {
    position: relative;
    top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.answer {
    color: var(--primary-color);
}
.phonetic span {
    font-family: var(--english-font);
    font-weight: var(--english-font-weight);
}
.navigate-buttons {
    position: absolute;
    bottom: 0;
    display: flex;
}
.navigate-buttons button {
    cursor: pointer;
    border: none;
    outline: none;
    padding: 1rem;
    border-radius: 3px;
    width: 100px;
}
.navigate-buttons .hard {
    background-color: var(--yellow-color);
    transition: .6s;
}
.navigate-buttons .hard:hover {
    background-color: var(--yellow-hover);
    transform: scale(1.1);
}
.navigate-buttons .medium {
    background-color: var(--green-color);
    color: var(--white-color);
    transition: .6s;
}
.navigate-buttons .medium:hover {
    background-color: var(--green-hover);
    transform: scale(1.1);
}
.navigate-buttons .easy {
    background-color: var(--blue-color);
    transition: .6s;
}
.navigate-buttons .easy:hover {
    background-color: var(--blue-hover);
    transform: scale(1.1);
}